/* =============
    Base
============= */
ul{
    padding: 0;

    li{
        list-style: none;
    }
}

hr{
    border: none;
    height: 4px;
    background-color: $blue;
}

// .show-for-md{
//     display: none;
//     @include md{
//         display: block;
//     }
// }

// .show-for-lg{
//     display: none;
//     @include lg{
//         display: block;
//     }
// }