/* =============
    Sectoin 1
============= */
#section-1{
    background-image: url('../img/section-1/hero.png');
    background-size: cover;
    background-position: center;
    height: 100vh;
    margin-top: 128px;

    h1{
        padding: 10% 0 0 20%;
        font-family: 'Kalam', cursive;
        font-weight: 700;
         font-size: rem-calc(45);
        color: $blue;
    }
}


