/* =============
    Sectoin 2
============= */
#section-2{

    aside{
        // img{
        //     width: 100%;
        // }

        background-image: url('../img/section-2/elephant.png');
        background-size: cover;
        background-position: center;
        height: 480px;

        @include md {
            height: 417px;
          }
        
        @include lg {
            height: 737px;
            margin-left: 11.5px;
        }
    }

    #section-2-container{
        display: grid;
        grid-template-columns: 15px auto 15px;
        grid-template-areas: ". para .";

        #section-2-content{
            grid-area: para;

            h3{
                font-size: rem-calc(28);
                text-align: center;
                padding: 10px;
                color: $blue;

                @include md{
                text-align: left;
                }
            }
    
            h5{
                font-size: rem-calc(18);
                text-align: center;
                font-weight: 400;
                padding: 10px;
                color: $blue;

                @include md{
                text-align: left;
                }
            }
        }
    }

    @include md{
        display: grid;
        grid-template-columns: 35% auto;
        grid-template-areas: "img para";
        margin-top: 55px;
        margin-bottom: 55px;

        aside{
            grid-area: img;
        }

        #section-2-content{
            align-self: center;
        }
    }

    @include lg{
        display: grid;
        grid-template-columns: 50% auto;
        margin-top: 50px;
        margin-bottom: 50px;
    }
}