/* =============
    Sectoin 1
============= */
#section-1-content{
    display: grid;
    grid-template-columns: 20% auto 20;
    grid-template-areas: ". section-1-content .";

    #section-1-header{
        grid-area: section-1-content;
    }
}

#section-1-image{
    img{
        width: 100%
    }
}