/* =============
    Sectoin 4
============= */
#section-4{
    display: grid;
    grid-template-columns: 15px auto 15px;
    grid-template-areas: ". section-4 .";

    #section-4-content{
        grid-area: section-4;

        h2{
            font-size: rem-calc(25);
            text-align: center;
            padding: 10px;
            color: $blue;

            @include md{
                font-size: rem-calc(36);
                text-align: center;
                padding: 10px;
            }

            @include lg{
                font-size: rem-calc(56);
                text-align: center;
                padding: 10px;
            }
        }
    }

    @include md{
        grid-template-columns: 15% auto 15%;
    }

    @include lg{
        grid-template-columns: 10% auto 10%;
    }
}

#section-4-gallery{
    // img{
    //     width: 100%;
    // }

    ul{
        grid-area: section-4-gallery;
        display: grid;
        grid-template-rows: repeat(3, 290px);
        grid-template-areas: 
        "temple"
        "food"
        "fireshow";
        gap: 20px;

        @include md{
            grid-template-columns: repeat(2, 1fr);
            grid-template-rows: repeat(3, 340px);
            grid-template-areas: 
            "temple temple"
            "temple temple"
            "food fireshow";
        }

        @include lg{
            grid-template-columns: 70% 30%;
            grid-template-rows: repeat(2, 340px);
            grid-template-areas: 
            "temple food"
            "temple fireshow";
        }

        li{
            background-size: cover;
            background-position: center;
        }

        #img-1{
            background-image: url('../img/section-4/temple.png');
            grid-area: temple;
            @include xl{
                // background-position: center top;
                background-position: center -100px;
            }
        }
        #img-2{
            background-image: url('../img/section-4/food.jpg');
            grid-area: food;
        }
        #img-3{
            background-image: url('../img/section-4/fireshow.jpg');
            grid-area: fireshow;
        }


    }
}