/* =============
    Sectoin 2
============= */
#section-2{

    aside{
        img{
            width: 100%;
        }
    }

    #section-2-container{
        display: grid;
        grid-template-columns: 15px auto 15px;
        grid-template-areas: ". para .";

        #section-2-content{
            grid-area: para;
        }
    }

    @include md{
        display: grid;
        grid-template-columns: 35% auto;
        grid-template-areas: "img para";
        margin-top: 20px;
        margin-bottom: 20px;

        aside{
            grid-area: img;
        }

        #section-2-content{
            align-self: center;
        }
    }

    @include lg{
        display: grid;
        grid-template-columns: 45% auto;
    }
}