/* =============
    Sectoin 4
============= */
#section-4{
    display: grid;
    grid-template-columns: 15px auto 15px;
    grid-template-areas: ". section-4 .";

    @include md{
        grid-template-columns: 20% auto 20%;
    }

    #section-4-content{
        grid-area: section-4;
    }
}

#section-4-gallery{
    img{
        width: 100%;
    }

    ul{
        grid-area: section-4-gallery;
        display: grid;
        gap: 20px;

        // @include md{
        //     grid-template-columns: repeat(2, 1fr);

        //     grid-template-areas: 
        //     "img-1 img-1"
        //     "img-1 img-1"
        //     "img-2 img-3";
        // }

        // li{
        //     img{
        //         width: 100%;
        //     }
        // }

        // @include xl{
        //     grid-template-columns: repeat(2, 1fr);
        //     grid-template-areas: 
        //     "img-1 img-2"
        //     "img-1 img-3";
        // }
    }
}