/* =============
    Sectoin 5
============= */
#section-5{
    aside{
        img{
            width: 100%;
        }

        @include md{
            img{
                text-align: center;
                width: 80%;
            }
        }

        // display: grid;
        // grid-template-columns: 15px auto 15px;
        // grid-template-areas: ". section-5 .";
    
        // #section-5-container{
        //     grid-area: section-5;
        // }
    }
}  