/* =============
    Sectoin 1
============= */
#section-1-header{

    background-image: url('../img/section-1/hero.png');
    background-size: cover;
    background-position: center;
    height: 370px;
    margin-top: 80px;

    @include md {
        height: 512px;
        margin-top: 80px;
      }
    
    @include lg {
        height: 683px;
        margin-top: 100px;
    }

    grid-area: section-1-content;
    justify-self: center;

    h1{
        font-family: 'Kalam', cursive;
        font-weight: 700;
        font-size: rem-calc(45);
        color: $blue;
        padding: 8% 0 0 8%;

        @include md {
            font-size: rem-calc(70);
            padding: 5% 0 0 5%;
        }
        
        @include lg {
            font-size: rem-calc(100);
            padding: 4% 0 0 5%;
        }
    }
}