/* =============
    Sectoin 2
============= */
#section-2{
    display: grid;
    grid-template-columns: 15px auto 15px;
    grid-template-areas: ". section-2 .";

    #secton-2-content{
        grid-area: section-2;
    }
}

#section-2-image{
    img{
        width: 100%;
    }
}