/* =============
    Footer
============= */
footer{
    background-color: #262F4C;

    display: grid;
    grid-template-columns: 5% auto 85%;
    grid-template-areas: ". footer .";

    #footer-image{
        grid-area: footer;
    }

    display: grid;
    grid-template-columns: 85% auto 5%;
    grid-template-areas: ". footer .";

    #footer-copyright{
        grid-area: footer;
    }

    @include md{
        #footer-image{
            grid-area: logo;
            justify-self: center;
            align-self: center;
            // border: 3px solid black;
        }
        #footer-copyright{
            color: white;
            grid-area: copyright;
            justify-self: right;
            padding-right: 10px;
        }

        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-template-areas: ". logo copyright";
    }
}