/* =============
    Footer
============= */
footer{
    background-color: #262F4C;

    #footer-image{
        grid-area: logo;
        justify-self: left;
        padding-left: 10px;
    }
    #footer-copyright{
        color: white;
        grid-area: copyright;
        justify-self: right;
        padding-right: 10px;
    }

    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-areas: "logo . copyright";

    @include md{
        #footer-image{
            grid-area: logo;
            justify-self: center;
            align-self: center;
            // border: 3px solid black;
        }
        #footer-copyright{
            color: white;
            grid-area: copyright;
            justify-self: right;
            padding-right: 10px;
        }

        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-template-areas: ". logo copyright";
    }
}