/* =============
    Header
============= */
header {
    background-color: $blue;
    left: 0;
    position: fixed;
    top: 0;
    width: 100%;
    color: $blue;
    border: 1px solid red;
    z-index: 1000;

    >div{
        display: grid;
        grid-template-columns: 80% auto;
        grid-template-areas: 
        "logo burger"
        "nav nav";

        @include lg{
            grid-template-columns: 20% auto;
            grid-template-areas: "logo nav";
        }

        #logo-container{
            grid-area: logo;
            padding: 20px;
        }

        #burger-container{
            grid-area: burger;
            align-items: center;
            display: flex !important;
            justify-content: flex-end;
            color: $white;
            padding: 20px;

            @include lg{
                display: none !important;
            }

            i {
                cursor: pointer;
            }
        }

        #nav-container{
            background-color: white;
            display: none !important;
            grid-area: nav;
            padding: 20px;

            @include lg{
                background-color: $blue;
                display: block !important;
            }
        }
    }
}